{% extends "layout.html" %}
{% block content %}
    <i class="fab fa-github">Project1</i>
    <!-- <div class="col">
    <p class='text-muted'>Please select a Group.
        <select id="selDataset" class="form-control" onchange="optionChanged(this.value)"></select>
    </p>
    </div>
    <div class="col">
    <p class='text-muted'>Please select a Zone.
        <select id="selDatasetDos" class="form-control"onchange="optionChangedDos(this.value)"></select>
    </p>
    </div> -->

{% endblock content %}